body{
    margin: 0;
    background-color: #1c2938;
}

/*------------ HEADER -------------------*/

header{
    background-color: #60a9a6;
}

/*------------  NAV  -------------------*/

.nav{
    background-color: #b9dfc6;
}

/*------------ SECTION -------------------*/

.contenedor_img{
    display: inline-block;
    justify-content: space-around;
    
}




/*------------------  FOOTER -----------------------*/
footer{
    width: 100%;
    height: 50px;
    background-color: #545454;
}

.fa-facebook, .fa-instagram, .fa-pinterest{
    font-size: 30px;
    color: white;
    margin: 0px 5px 0px 5px;
}
.fa-instagram:hover{
    color:violet;
}
.fa-pinterest:hover{
    color:red;
}

.fa-facebook:hover{
    color:blue;
}

#redes{
     display: flex;
     justify-content: center;
     padding-top: 10px;
    
