@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Shadows+Into+Light&display=swap');

body{
    background-image: url(img/fondocover4.jpg);
    background-size: cover; 
}

h1{
    color: #39bdc8;
    font-family: 'Shadows Into Light', cursive, 'Noto Sans KR', sans-serif;
}

.cabecera{
    font-size: 80px;
}

h5{
   color: #313131;
}

.card .border-primary .mb-3{
    max-width: 18em;
}


/* redimensiono el thumbnail de la imagen*/
img{
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 100rem;
    width: 100%;
    height: 200px;
    justify-content: center;
    opacity: 0.4;
}

img:hover{
    opacity: 1;
    transition-duration: 1s;
    
}

footer{
    width: 100%;
    height: 50px;
    background-color: #545454;
}

.fa-facebook, .fa-instagram, .fa-pinterest{
    font-size: 30px;
    color: white;
    margin: 0px 5px 0px 5px;
}
.fa-instagram:hover{
    color:violet;
}
.fa-pinterest:hover{
    color:red;
}

.fa-facebook:hover{
    color:blue;
}

#redes{
     display: flex;
     justify-content: center;
     padding-top: 10px;
}