@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Shadows+Into+Light&display=swap');

/*------------- HEADER -----------*/

body{
    background-image: url(img/fondocover4.jpg);
    background-size: cover; 
}

h1{
    color: #39bdc8;
    font-family: 'Shadows Into Light', cursive, 'Noto Sans KR', sans-serif;
}

.cabecera{
    font-size: 80px;
}

h5{
    color: #ad1d45;
}

.sombra-fila:hover{
    background-color: #204969;
}

/*------------ FOOTER ------------*/

/* footer{
    width: 100%;
    height: 50px;
    background-color: #545454;
}

.fa-facebook, .fa-instagram, .fa-pinterest{
    font-size: 30px;
    color: white;
    margin: 0px 5px 0px 5px;
}

.fa-instagram:hover{
    color:violet;
}

.fa-pinterest:hover{
    color:red;
}

.fa-facebook:hover{
    color:blue;
}

#redes{
    display: flex;
    justify-content: center;
    padding-top: 10px;
} */


ul{
    list-style:none;
}
.fa-facebook {
    background: #3B5998;
    color: white;
 }

.fa-twitter {
   background: #55ACEE;
   color: white;
}

.fa-google {
   background: #DD4B39;
   color: white;
}

.fa-linkedin {
   background: #007BB5;
   color: white;
}

/*Sticky (verticalmente alineado 50% desde arriba) */
.icon-bar {
   position: fixed;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
} 
/*estilo para el icon-bar*/
.icon-bar a {
   display: block;
   text-align: center;
   padding: 0px;
   transition: all 0.3s ease;
   color: white;
   font-size: 40px;
}